@model BlockBuster.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Name: @Model.Name</h2>
<ul>
    @if (Model.MembershipType.Name != null)
    {
        <li>Membership Type: @Model.MembershipType.Name</li>
    }
    @if (Model.Birthdate != null)
    {
        <li>Birthdate: @Model.Birthdate.Value.ToShortDateString()</li>
    }
</ul>